<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head th:replace="~{fragments/head :: head}"></head>

<body>
    <div th:replace="~{fragments/header :: header}"></div>

    <div id="box1">
        <h1>Mini Games</h1>
    </div>
    <section class="container my-5" id="advanced-games">
        <div class="list-group">
            <div th:each="g,stat : ${games}" class="list-group-item">
                <h3 th:text="${g.title}">Game Title</h3>
                <p th:text="${g.description}">Description</p>
                <p><a th:href="${g.url}" target="_blank" rel="noopener" th:text="${g.buttonLabel ?: 'Play Game'}">Play Game</a></p>
            </div>
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
    <script th:src="@{/js/script.js}" src="/js/script.js"></script>
    <div th:replace="~{fragments/footer :: footer}"></div>

</body>

</html>